{% extends 'inflearn_lecture/base.html' %}

{% block content %}

<h2> 인기 강의 </h2>

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for text in texts %}

        <div class="col">
            <div class="card shadow-sm">
                <a href="{% url 'lecture_list_info' pk=text.pk %}">
                    <img src="../../../media/{{text.img_url}}" width="150">
                    <div class="card-body">
                        <p class="card-text">{{ text.title }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </div>
                            <small class="text-body-secondary">9 mins</small>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}